<div class="layout">
    <app-topbar (expandioBoton)="onExpandedPress($event)"></app-topbar>
  
    <mat-drawer-container class="example-container" autosize>
  
      <mat-drawer opened class="example-sidenav" mode="side" disableClose="true"
      [@openClose]="isExpanded ? 'open' : 'close'" >
        <app-sidebar [isExpanded]="isExpanded"></app-sidebar>
      </mat-drawer>
  
      <div class="view">
        <router-outlet></router-outlet>
      </div>
  
    </mat-drawer-container>
    <app-footer></app-footer>
  </div>
