<button mat-icon-button (click)="crearPersona()">
  <mat-icon color="primary">add_circle</mat-icon>
</button>
<h2 class="title">Detalle de una persona</h2>

<div class="container">
  <div *ngFor="let pers of personList" class="card">
    <div class="card-info">
      <span>Edad: {{pers.age}}</span>
      <span>Nombre: {{pers.name}}</span>
      <span>Apellido: {{pers.lastName}}</span>
    </div>
    <div *ngIf="pers.age >= 18">
      <span class="edad">Es mayor de edad</span>
    </div>

    <div *ngIf="pers.age < 18">
      <span class="edad">Es menor de edad</span>
    </div>
    <button mat-raised-button color="primary" (click)="seleccionarPersona(pers)" class="btn">Editar</button>
    <button mat-raised-button color="primary" (click)="borrarPersona(pers)" class="btn">Borrar</button>
  </div>
</div>

