.slider-container {
    width: 98%;
    height:770px;
    overflow: hidden;
    white-space: nowrap;
    margin: 20px;
  }
  
  .slide {
    display: inline-block;
    width: 100vw;
    height: 80%;
    transition: transform 0.5s ease;
  }

  img{
    margin: auto;
    height: 120%;
    width: 100%;
  }