<form [formGroup]="personForm" (ngSubmit)="guardarCambios()" >
  <mat-card  class="edit-pers">
    <div class="form">
      <h2>Editar o crear una persona</h2>
      <mat-form-field>
        <mat-label>Nombre:</mat-label>
          <input matInput type="text" formControlName="name">
         <div *ngIf="personForm.controls['name'].invalid && (personForm.controls['name'].dirty ||
          personForm.controls['name'].touched)">
          <mat-hint *ngIf="personForm && personForm.controls && personForm.controls['name'].errors && personForm.controls['name'].errors['required']">El campo es obligatorio.</mat-hint>
         </div>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Apellido: </mat-label>
          <input matInput type="text" formControlName="lastName">
          <div *ngIf="personForm.controls['lastName'].invalid && (personForm.controls['lastName'].dirty ||
          personForm.controls['lastName'].touched)">
          <mat-hint *ngIf="personForm && personForm.controls && personForm.controls['lastName'].errors && personForm.controls['lastName'].errors['required']">El campo es obligatorio.</mat-hint>
         </div>
      </mat-form-field>
      <mat-form-field>  
        <mat-label>Edad: </mat-label>
          <input matInput type="number" formControlName="age">
          <div *ngIf="personForm.controls['age'].invalid && (personForm.controls['age'].dirty ||
          personForm.controls['age'].touched)">
          <mat-hint *ngIf="personForm && personForm.controls && personForm.controls['age'].errors && personForm.controls['age'].errors['required']">El campo es obligatorio.</mat-hint>
          <mat-hint *ngIf="personForm && personForm.controls && personForm.controls['age'].errors && personForm.controls['age'].errors['min']">La edad mínima es 0 años.</mat-hint> 
          <mat-hint *ngIf="personForm && personForm.controls && personForm.controls['age'].errors && personForm.controls['age'].errors['max']">La edad máxima es 100 años.</mat-hint> 
        </div>
    </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="personForm.invalid">Guardar</button>
    </div>
  </mat-card>
  <button mat-icon-button color="primary" type="button" (click)="volverAtras()" class="backbtn">
    <mat-icon>arrow_back</mat-icon>
  </button>
</form>
